#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 0.1; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f7fbff; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 0.1; stroke-opacity: 1.0; stroke-dasharray: ; fill: #c7dcef; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 0.1; stroke-opacity: 1.0; stroke-dasharray: ; fill: #72b2d7; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 0.1; stroke-opacity: 1.0; stroke-dasharray: ; fill: #2878b8; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 0.1; stroke-opacity: 1.0; stroke-dasharray: ; fill: #08306b; fill-opacity: 1.0; }
