/*Styling for the tooltip*/
#extTip, .d3-tip, .d3-preview-tip {
  line-height: 1;
  font-size: smaller;
  text-align: left;
}
.d3-tip, .d3-preview-tip {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  color: #252525;
  padding: .4em;
  border-width: 4px;
  border-style: solid;
  box-shadow: 5px 5px 15px rgba(48,54,61,0.5);
  -webkit-transform-origin: 50% calc(100% + 10px);
	transform-origin: 50% calc(100% + 10px);
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,45deg);
	transform: perspective(1000px) rotate3d(1,0,0,45deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.d3-tip {
  font-family: "proxima-nova";
}

.d3-tip.animate, .d3-preview-tip.animate {
  pointer-events: auto;
	opacity: 1;
	-webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
	transform: perspective(1000px) rotate3d(1,0,0,0deg);
}

.d3-preview-tip {
  width: 90px;
  height: 90px;
}

/* Creates a small triangle extender for the tooltip */
.d3-preview-tip.c.q1:before, .d3-preview-tip.c.q4:before{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(37, 37, 37, 0.9);
  -webkit-text-fill-color: white;
  content: "\25C0";
  text-align: left;
  position: absolute;
  left: -8px;
  top: 50%;
}

.d3-tip.c.q2:before, .d3-tip.c.q3:before{
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.4);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(37, 37, 37, 0.9);
  -webkit-text-fill-color: white;
  content: "\25B6";
  text-align: right;
  position: absolute;
  left: 8px;
  top: 50%;
}

.d3-preview-tip .votes {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}
.d3-preview-tip .votes-label {
  font-family: "proxima-nova";
  font-size: 1em;
  margin-top: .5em;
  text-align: center;
}
