#mapSvg{background-color: #ffffff;}
.l0c0 { stroke: #FFFFFF; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f9b5c1; fill-opacity: 1.0; }
.l0c1 { stroke: #ffffff; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #e31a1c; fill-opacity: 1.0; }
.l0c2 { stroke: #ffffff; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #a6cee3; fill-opacity: 1.0; }
.l0c3 { stroke: #ffffff; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill: #c14dd0; fill-opacity: 1.0; }

.d3-tip.animate.l0c0, .d3-preview-tip.animate.l0c0 { border-color: #f9b5c1; }
.d3-tip.animate.l0c1, .d3-preview-tip.animate.l0c1 { border-color: #e31a1c; }
.d3-tip.animate.l0c2, .d3-preview-tip.animate.l0c2 { border-color: #a6cee3; }
.d3-tip.animate.l0c3, .d3-preview-tip.animate.l0c3 { border-color: #c14dd0; }
path:hover { stroke-width: 0.5; fill: #C0C0C0;}
